.containerClock {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.clock {
    background: #1566BB;
    font-size: xx-large;
    margin-bottom: 20px;
    border-radius: 6px;
    padding: 20px;
}

.input {
    background: #1566BB;
    font-size: x-large;
    margin-bottom: 20px;
    border-radius: 6px;
    padding: 20px;
    color: whitesmoke;
    outline-width: 0;
    border: none;
}

.input::placeholder { 
    color: whitesmoke;
}

.input:focus::placeholder {
    color: transparent;
  }

.text {
    font-size: xx-large
}

.name {
    font-weight: 500;
}