.themeContainer {
    display: flex;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
}

button {
    margin: 30px;
    padding: 20px;
}